<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mbpe.profile -->
      <package
            uri="http://setools/mbpe/0.1"
            class="setools.mbpe.MbpePackage"
            genModel="src/main/resources/resources/profile/mbpe.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated mbpe.profile -->
      <parser
            type="uml"
            class="setools.mbpe.util.MbpeResourceFactoryImpl"/>
   </extension>

</plugin>
