\begin{frame}
  \frametitle{Risk $risk.getId() - $risk.getBase_Class().getName()}
  %% main content
  \begin{minipage}[t][0.60\paperheight]{1.00\linewidth}
    \begin{columns}[t]
      \column{.5\textwidth}
        \begin{minipage}[t][0.25\paperheight]{1.00\textwidth}
          \begin{block}{Risk Statement}
            \begin{tcolorbox}[enhanced,frame hidden,fit to height=.20\paperheight]
              $risk.getStatement()
            \end{tcolorbox}
          \end{block}
        \end{minipage}
        \begin{minipage}[t][0.35\paperheight]{1.00\textwidth}
          \begin{block}{Risk Description and Status}
            \begin{tcolorbox}[enhanced,frame hidden,fit to height=.30\paperheight]
              TODO: get risk description and status...
            \end{tcolorbox}
          \end{block}
        \end{minipage}
      \column{.5\textwidth}
        \begin{minipage}[t][0.35\paperheight]{1.00\textwidth}
          \begin{block}{}
            \begin{tcolorbox}[enhanced,frame hidden,fit to height=.30\paperheight,boxsep=1pt,left=2pt,right=2pt,top=0pt,bottom=0pt]
              \center
              %% TODO: is there a cleaner way to do this?  maybe by passing an array?
              #set($cell_5_1 = $LatexUtils.getRiskSymbol($risk,5,1))
              #set($cell_5_2 = $LatexUtils.getRiskSymbol($risk,5,2))
              #set($cell_5_3 = $LatexUtils.getRiskSymbol($risk,5,3))
              #set($cell_5_4 = $LatexUtils.getRiskSymbol($risk,5,4))
              #set($cell_5_5 = $LatexUtils.getRiskSymbol($risk,5,5))
              #set($cell_4_1 = $LatexUtils.getRiskSymbol($risk,4,1))
              #set($cell_4_2 = $LatexUtils.getRiskSymbol($risk,4,2))
              #set($cell_4_3 = $LatexUtils.getRiskSymbol($risk,4,3))
              #set($cell_4_4 = $LatexUtils.getRiskSymbol($risk,4,4))
              #set($cell_4_5 = $LatexUtils.getRiskSymbol($risk,4,5))
              #set($cell_3_1 = $LatexUtils.getRiskSymbol($risk,3,1))
              #set($cell_3_2 = $LatexUtils.getRiskSymbol($risk,3,2))
              #set($cell_3_3 = $LatexUtils.getRiskSymbol($risk,3,3))
              #set($cell_3_4 = $LatexUtils.getRiskSymbol($risk,3,4))
              #set($cell_3_5 = $LatexUtils.getRiskSymbol($risk,3,5))
              #set($cell_2_1 = $LatexUtils.getRiskSymbol($risk,2,1))
              #set($cell_2_2 = $LatexUtils.getRiskSymbol($risk,2,2))
              #set($cell_2_3 = $LatexUtils.getRiskSymbol($risk,2,3))
              #set($cell_2_4 = $LatexUtils.getRiskSymbol($risk,2,4))
              #set($cell_2_5 = $LatexUtils.getRiskSymbol($risk,2,5))
              #set($cell_1_1 = $LatexUtils.getRiskSymbol($risk,1,1))
              #set($cell_1_2 = $LatexUtils.getRiskSymbol($risk,1,2))
              #set($cell_1_3 = $LatexUtils.getRiskSymbol($risk,1,3))
              #set($cell_1_4 = $LatexUtils.getRiskSymbol($risk,1,4))
              #set($cell_1_5 = $LatexUtils.getRiskSymbol($risk,1,5))
              #parse("templates/velocity/risk-cube.tex.vm")
              
            \end{tcolorbox}
          \end{block}
        \end{minipage}
        \begin{minipage}[t][0.25\paperheight]{1.00\textwidth}
          \begin{block}{Risk Mitigations}
            %% TODO: remove border and padding...
            \begin{tcolorbox}[enhanced,frame hidden,fit to height=.20\paperheight]
              \begin{enumerate}
                #foreach($mitigation in $risk.getMitigations())
\item $mitigation.getBase_Class().getName()
                #end
              \end{enumerate}
            \end{tcolorbox}
          \end{block}
        \end{minipage}

   \end{columns}
  \end{minipage}

  %% risk burn down
##  \begin{minipage}[t]{1.00\linewidth}
##    \begin{tikzpicture}
##      \node[anchor=south west,inner sep=0] (image) at (0,0) {\includegraphics[width=\textwidth,height=0.15\paperheight]{risk-burndown-bars}};
##      #set($start = "Start") %% TODO: get start date from risk identification date, which is not yet supported...
##      #set($end = "End") %% TODO: get end date from last risk mitigation date, which is not yet supported...
##      \node[align=left,font={\tiny}] at (0,0) {$start}; %%start date
##      \node[align=left,font={\tiny}] at (\textwidth,0) {$end}; %%end date
##      #set($current_percent = "0.2") %% TODO:get the percentage of plan for the current date, need start and end first...
##      \node[align=left,font={\tiny}] at ($current_percent\textwidth,0) {\mmyydate{\today}}; %%todays date
##      \draw[dashed, black] ($current_percent\textwidth,0) -- +(0,1.5);
##      
##      %%risk mitigation implementations...
##      #foreach($mitigation in $risk.getMitigations())
##        #set($percent = 0.1) %% TODO:get the percentage of plan for mitigation date, need start and end first...
##        \node[align=left,font={\tiny}] at ($percent\textwidth,1.2) {$foreach.count}; %%start date
##      #end
##    \end{tikzpicture}
##  \end{minipage}

\end{frame}
